/*CSS Document*/
@charset "UTF-8";


* {
    font-family: 'Bitter', serif;
    font-size: 18px;
}

body {

    background-color: #fcd1f6;
}

nav {
    background: #7C8B23;
    margin: 30px auto 0 auto;
    padding: 0 40px;
    border-radius: 40px;
    width: 95%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav img {
    height: 50px;
    margin: 0;
    padding: 0;
    border-radius: 30px;
}


ul.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}


.nav-links a {
  color: #fcd1f6;
  font-family: 'Syne', sans-serif;
  font-size: 20px;
  font-weight: 800;
  text-decoration: none;
  transition: 0.3s ease;
}

.nav-links a:hover {
  text-decoration: underline;
}


main {
    margin: 0px;
    margin-top: 0px;
    padding: 0px;
}

h1 {
    color: #FF4500;
    text-align: center;
    font-family: 'Syne', sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

h2 {
    color: #FF4500;
    text-align: center;
    font-family: 'Syne', sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

h3 {
    color: #FCD1F6;
    text-align: center;
    font-family: 'Syne', sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

h4 {
    color: #FCD1F6;
    font-family: 'Bitter', serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28pxl;
    width: 23.0625rem;
    margin: 10px;
}

h5 {
    color: #FCD1F6;
    font-family: 'Bitter', serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h6 {
    color: #FCD1F6;
    font-family: 'Bitter', serif;
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    line-height: 28px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul.experiencia,
ul.educacion {
    display: flex;
    gap: 10px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
    line-height: normal;
}

p {
    line-height: 1.5rem;
    text-align: center;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fcd1f6;
}


article.fotos {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 15px;
    /* border-radius: 40px;
    border-color: #ff4500;
    border-style: solid;
    border-width: 5px;*/
}


.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    margin: 0px;
    gap: 30px;
    margin-top: 20PX;
    flex-wrap: wrap;
}

div.cards {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem;
    border-radius: 20px;
}

.card {
    background: #ff4500;
    color: #fcd1f6;
    width: 600px;
    padding: 2rem;
    border-radius: 40px;
    text-align: left;
}

.card h3 {
    text-align: center;
    margin-bottom: .8rem;
}

.accordion {
    max-width: 600px;
    margin: 2rem auto;
    max-width: 600px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ff4500;
    border-radius: 40px;

}

.accordion_btn {

    background: #ff4500;
    border: none;
    padding: .8rem 1.8rem;
    border-radius: 40px;
    height: 100px;
    cursor: pointer;
    transition: background .3s ease;
    margin-bottom: 0px;
    border-style: none;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accordion_btn:hover {
    background: #7C8B23;
}


.accordion_content {
    /*height: 200px; */
    /*background: #FF4500;*/
    border-radius: 20px;
    /* margin-top: 20px;*/
    margin-left: 20px;
    margin-right: 20px;
    padding: 0 1.5rem;
    margin-bottom: 0px;
    width: 500px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.accordion_content p {
    font-family: 'Bitter', serif;
    font-weight: 400;
    font-size: 18px;
    color: #fcd1f6;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}


.accordion_content.show {
    background-color: #ff4500;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    height: 200px;
    padding: 0px;
    margin-top: 0px;
    border-radius: 40px;
    align-items: center;
    flex-direction: column;
}

footer {
    font-size: 10px;
    color: #fcd1f6;
    background-color: #ff4500;
    width: 95%;
    height: 100px;
    margin: 30px auto 0 auto;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 40px;

}

.footer-text {
    margin: 0;
}

ul.contacto {
    display: flex;
    gap: 30px;
    list-style: none;
}

.contacto a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fcd1f6;
    font-weight: 400;
    list-style: none;
    margin: 0;

}

.contacto a:hover {
    text-decoration: underline;
}

.contacto img {
    vertical-align: middle;
}