/*CSS Document*/
@charset "UTF-8";


* {
    font-family: 'Bitter', serif;
    font-size: 18px;
}

body {

    background-color: #fcd1f6;
}
header {}

nav {
    background: #7C8B23;
    margin: 0;
    padding: 0;
    border-radius: 40px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 0;

}

nav a {
    color: #fcd1f6;
    /* text-decoration: none; */
    margin: 0px;
    margin-right: 20px;
    font-size: 1.2rem;
    font-family: 'Syne', sans-serif;
    font-weight: 800;
}

main {
    margin: 20px;
    margin-top: 40px;
    padding: 60px;
}

h1 {
    color: #FF4500;
    text-align: center;
    font-family: 'Syne', sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

h2 {
    color: #FF4500;
    text-align: center;
    font-family: 'Syne', sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

h3 {
    color: #FCD1F6;
    text-align: center;
    font-family: 'Syne', sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

h4 {
    color: #FCD1F6;
    font-family: 'Bitter', serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 3.3125rem;
    /* 220.833% */
    width: 23.0625rem;
    height: 25.75rem;
    flex-shrink: 0;
}


ul {
    display: flex;
    gap: 10px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
    line-height: normal;
}

p {
    line-height: 1.5rem;
    text-align: center;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}


footer {
    font-size: 10px;
    text-align: center;
    color: #fcd1f6;
    background-color: #ff4500;
    margin: 0px;
    padding: 0px;
    width: 95%;
    height: 60px;
    border: 20px;
    margin-bottom: 0px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

}

img {
    display: block;
    margin-left: 15px;
    border-radius: 40px;
    border-color: #ff4500;
    border-style: solid;
    border-width: 5px;
}

article.fotos {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 20px;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    margin: 0px;
    gap: 30px;
    margin-top: 20PX;
    flex-wrap: wrap;
}

div.tajetas {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.tarjeta {
    background: #F44326;
    color: #fcd1f6;
    width: 260px;
    padding: 2rem;
    border-radius: 20px;
    text-align: left;

}

.columna {
    flex: 1;
    min-width: 250px;
}

element.style {
    width: 35%;
}

div.acordeon {
    display: flex;
    display: flex;
    width: 31.25rem;
    height: 7.5rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 6.25rem;
    background: #7C8323;
}