/*CSS Document*/
@charset "UTF-8";


* { font-family: 'Alegreya', serif;
    font-size: 20px;
}

body {
   
    background-color: #fcd1f6;
       
    }

    main {
        margin: 100px;
        padding: 100px;
        border: 20px solid #ff4500;
        border-radius: 40px;
    }   
    
    h1 {
        font-family: 'Syne', sans-serif;
         font-size: 70px;
         font-weight: bold;
         color: #ff4500;
        text-align: center;
    }
    
    h2 {font-family: 'Syne', sans-serif;
        font-size: 50px;
        color: #000000;
        text-align: left;
    }

    h3 {font-family: 'Syne', sans-serif;
        font-size: 30px;
        font-weight: lighter;
        color: #000000;
        text-align: left;
    }
    
    p {
        font-size: 20px;
        line-height: 1.6;
    }

    footer {
        font-size: 10px;
        text-align: center;
        color: #fcd1f6;
        background-color: #ff4500;
       margin: 100px;
        padding: 10px;
        bottom: 0;
        width: 100%;
        border: 20px;
        border-radius: 40px;
        display: flex;
    }

    nav {
        font-size: 30px;
        color: #ff4500;
        background-color:olive;
        margin: 30px;
        padding: 40px;
        border: 20px;
        width: 80%;
        text-align: left;
        border-radius: 40px;
        display: flex;
        justify-content: space-around;

    }